# Ignore Python virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore specific files
test.ipynb

# Ignore macOS system files
.DS_Store